!!! 5
%html
%head
  %title PlayerApp
  =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  =javascript_include_tag 'application', 'data-turbolinks-track' => true
  =csrf_meta_tags

%body
  %nav.navbar.navbar-default
    %div.container-fluid
      .btn.navbar-toggle.collapsed{:data =>{:toggle => 'collapse',:target => '#bs-example-navbar-collapse-1'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to "PlayerApp", root_path
      %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.nav-pills.navbar-right
          -if player_signed_in?
            %li= link_to "Sign Out"
            %li= link_to "New Fixture",new_match_path
            %li= link_to "About",'#'
            %li= link_to "Contact", '#'
          -else
            %li= link_to "Sign Up", new_player_registration_path
            %li= link_to "Upcoming Fixtures", matches_path
            %li= link_to "About",'#'
            %li= link_to "Contact", '#'

%p.notice
  = notice
%p.alert
  = alert

= yield
